/*Main CSS File*/

/*********************************************
**********************************************
*********PLANETS ROTATION AROUND THE SUN******
**********************************************
 *********************************************/
.orbit {
        stroke : #000000;
        fill : none;
        }
.planet {
        stroke : black;
        fill : black;
        }
.sun {
      stroke : yellow;
      fill : yellow;
        }

/*********************************************
**********************************************
**************MOON BAR CHART******************
**********************************************
**********************************************/

.bar {
  fill: steelblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}