<md-toolbar layout="row" layout-align="center">
  <h1>Data Viz</h1>
</md-toolbar>
<md-content>
  <br>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary">Graph 1</md-button>
    <md-button class="md-raised md-primary">Graph 2</md-button>
    <md-button class="md-raised md-primary">Graph 3</md-button>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary">Graph 4</md-button>
    <md-button class="md-raised md-primary">Graph 5</md-button>
    <md-button class="md-raised md-primary">Graph 6</md-button>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary">Graph 7</md-button>
    <md-button class="md-raised md-primary">Graph 8</md-button>
    <md-button class="md-raised md-primary">Graph 9</md-button>
  </section>
</md-content>